@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #414740;
  --foreground: #FCF8ED;
  --font-color-main: #ededed; /* Main font color */
  --font-color-second: #414740; /* Secondary font color */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-archivo-sans), Arial, Helvetica, sans-serif; /* Use your Archivo font */
  -webkit-font-smoothing: antialiased; /* Smooth text for WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth text for macOS */
}

html {
  scroll-behavior: smooth;
}
